.services-header {
    position: relative;
    padding-top: 100px;
    min-height: 400px;
    text-align: center;
    background-image: url('../../resources/images/nosServices.png');
    background-position: center center;
    /*margin-top: -50px;*/
    background-size: cover;
}
@media all and (max-width: 1199px) {
    .services-header {
        margin-top: -50px;
        min-height: 450px;
    }
}
.services-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 250px 120px 200px rgba(238, 119, 8, 0.459); /*rgba(207, 40, 10, 0.459) */
    z-index: 1; 
  }
.services-header h2 {
    color: var(--rouge);
    width: 80%; 
    font-size: 48px;
    font-weight: 700;
    margin: 0px auto;
    margin-bottom: 32px;
}
.services-header p {
    margin: 0 auto;
    color: white;
    width: 50%;
    font-size: 24px;
}
.main-content {
    background-color: #F2F2F2;
    padding-top: 64px;
    padding-bottom: 550px;
}
.filter-search-container {
    height: 120px;
}
.filter-search-container form {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.filter-search-container input {
    width: 60%;
    height: 48px;
    margin: 24px 32px 24px 48px;
    border-radius: 40px;
    padding-left: 16px;
    background-color: #D9D9D9;
    font-size: 16px;
}
.filter-search-container .bi-search {
    position: absolute;
    top: 28px;
    right: 36%;
    color: white;
    background-color: var(--rouge);
    border-radius: 24px;
    padding: 3px 10px;
    width: 40px;
    height: 40px;
    font-size: 24px;
}
.filter-search-container .filterBTN, .filter-search-container .showAll {
   font-size: 20px;
   padding: 8px 16px;
   height: 48px;
   border-radius: 24px;
   background-color: var(--rouge);
   color: white;
}
.filter-search-container .filterBTN {
    position: absolute;
   right: 24%;
   top: 24px;
   width: 100px;
}
.filter-search-container .showAll {
    position: absolute;
    right: 6%;
     top: 24px;
     width: 164px;
}

@media all and (max-width: 992px ) {
    .filterBTN {
        position: absolute;
        right: 20% !important;
    } 
    .showAll {
        position: absolute;
        right: -20px !important;
    }
}
.List-annonces {
    margin-top: 64px; 
}
.adjustSize {
    width: 76% !important;
    margin-right: 15px !important;
}
.List-annonces .alert {
    background-color: #ec8274be !important;
    border: solid 1px orange !important;
    color: black;
    width: 40%;
    padding: 32px 16px;
    margin: 24px auto;
    text-align: center;
}