@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* Defining css colors as variables*/
:root {
    --noir: #1C1F1E;
    --rouge: #EA4C36;
    --lightGray: rgb(228, 225, 225);
    --font: 'Poppins', sans-serif;
}
/* pour utiliser une couleur dans un sélecteur: var(--noir)*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    width: 100%;
    /*padding-bottom: 500px;*/
    font-family: var(--font);
}
.App-header {
    background-color: var(--noir);
    padding-top: 0px;
    min-height: 88px;
}
nav {
    min-height: 88px !important;
    padding-bottom: 0 !important;
}

nav .navbar-toggler {
    border: none !important;
}

nav span.navbar-toggler-icon {
    background-image:none;
    color: white;
}
/*************************************************************/
nav ul li {
    margin-right: 20px;
    min-width: 112px;
}

/*******************************************************/
nav ul.pushRight {
    margin-right: 64px;
}
nav ul.pageLinks {
    margin-left: 160px;
}


nav ul.pageLinks li a {
    transition: .2s ease-in-out !important;
}
nav ul.pageLinks li a:hover {
    color: rgb(192, 188, 188) !important;
}



@media all and (max-width: 1198px) {
    nav ul li{
        text-align: center;
    }
    nav ul.pushRight {
        margin-left: 62% ;
        display: flex !important;
        flex-direction: row;
    }
    nav ul li.redBtn {
        min-width: 35%;
    }
   
    nav ul li.pageLinks {
        width: 80px !important;
    }
    .btn-group button a.active {
        padding: 8px 40vw 8px 30vw !important;
    }
    nav ul li.btn-group {
       width: 100%; 
    }
    
    nav ul.dropdown-menu {
        box-shadow: none;
    }
    nav ul.dropdown-menu .dropdown-item {
        margin-left: 3px;/*145*/
        width: 100%;
    }

    
}


nav ul.dropdown-menu li a {
    color: var(--noir) !important;
}

.btn-group {
    display: block;
    width: 112px;
    
   
}
.btn-group button a {
    text-decoration: none !important;
   
}

.btn-group button {
    border: none !important;
}
.btn-group button a.active {
    background-color: var(--rouge);
    border-radius: 40px;
    padding: 8px 24px 8px 24px ;
}

nav ul li a, .btn-group button a {
    color: white !important;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    transition: .3s ease-in;
}
nav ul li a.active {
    background-color: var(--rouge) ;
    border-radius: 40px;
}
.dropdown-menu {
    box-shadow: 2px 3px 12px white;
    margin-left: 8px;
}
.dropdown-menu .dropdown-item {
    transition-duration: .3s;
    margin-left: 0px; 
    text-align: left;
    width: 110%; 
}
.dropdown-menu .dropdown-item:hover {
    background-color: var(--rouge);
}

nav ul li.redBtn {
    background-color: var(--rouge);
    border-radius: 15px;
    padding: 0px 8px;
}

.App-footer {
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    background-color: var(--noir);
    width: 100%;
    min-height: 260px;
    padding-top: 25px;
}
.App-footer .footer-top {
    display: flex;
    align-items: center;
}
.App-footer .footer-top p {
    color: var(--rouge);
    width: 80px;
}
.App-footer a, .App-footer p {
    text-decoration: none;
    color: white;
}
.App-footer p a {
    transition: .2s ease-in-out;
    padding-bottom: 8px;
}
.App-footer p a:hover {
    border-bottom: solid 2px var(--rouge);
    color: rgb(192, 188, 188);
}
.App-footer .footer-content {
    margin-left: 3%;
}

.App-footer .copyRight {
    font-size: 15px;
}


